<template>
  <div class="boards-page" @click="changeMode()">
    <nav-bar>
      <div v-if="dashboardMode === false"><i class="fas fa-angle-down"></i></div>
      <div v-else><i class="fas fa-angle-up"></i></div>
      <div class="username" @click.stop="dashboardMode = !dashboardMode">{{ userName }}</div>
    </nav-bar>
    <transition name="dashboard">
      <div class="dashboard" v-if="dashboardMode">
        <div class="dashboard-item" @click.stop="showMyUsers()" v-if="userRole == 1">
          اعضا
        </div>
        <div class="dashboard-item" @click.stop="showMyTasks()">
          تسک های من
        </div>
        <assign-board class="assign-board" v-if="assignMode === true">
          <div class="card" v-for="user in users" :key="user._id">
            {{ user.username }}
          </div>
        </assign-board>
        <div class="dashboard-item" @click.stop="logout()">
          خروج
        </div>
      </div>
    </transition>
    <div class="header">
      <div class="header-text">بوردها</div>
      <div class="search">
        <input class="search-input" type="search">
        <div class="search-icon"><i class="fas fa-search"></i></div>
      </div>
      <add-modal class="modal-btn" v-if="userRole != 3"/>
      <div class="modal-btn-alternative" v-else></div>
    </div>
    <div class="boards-list">
      <board v-for="board in boards" :key="board._id">
        <assign-board class="assign-board" v-if="assignMode === true">
          <div class="card" v-for="user in users" :key="user._id" @click="assignee(user._id)">
            {{ user.username }}
          </div>
        </assign-board>
        <template v-slot:button>
          <button class="btn-board" @click="showListsOfBoard(board._id)"><i class="fas fa-sign-in-alt"></i></button>
        </template>
        <template v-slot:nameBoard>
          <form class="form-name" @submit.prevent>
            <input class="input-name" type="text" name="nameBoard" @click.stop="changeEditNameMode(board._id, board.name)"  v-model="board.name" v-if="editNameMode === false && board._id === boardID">
            <input class="input-name" :class="{ 'is-edit': editNameMode }" type="text" name="nameBoard" v-model="nameValue" v-autofocus @click.stop @keyup.enter="updateName(nameValue, board.desc, board._id)" v-else-if="editNameMode === true && boardID === board._id" >
            <input class="input-name" type="text" name="nameBoard" @click.stop="changeEditNameMode(board._id, board.name)"  v-model="board.name" v-else>
          </form>
        </template>
        <template v-slot:descBoard>
          <form class="form-desc" @submit.prevent>
            <input class="input-desc" type="text" name="descBoard" @click.stop="changeEditDescMode(board._id, board.desc)" v-model="board.desc" v-if="editDescMode === false && boardID === board._id">
            <input class="input-desc" :class="{ 'is-edit': editDescMode }" type="text" name="descBoard" v-model="descValue" v-autofocus @click.stop @keyup.enter="updateDesc(board.name, descValue, board._id)" v-else-if="editDescMode === true && boardID === board._id">
            <input class="input-desc" type="text" name="descBoard" @click.stop="changeEditDescMode(board._id, board.desc)" v-model="board.desc" v-else>
          </form>
        </template>
        <div class="assignee" @click.stop="changeAssignMode(board.name, board.desc, board._id)" v-if="userRole == 1 || board.creator === userID">
          <i class="fas fa-plus assignee-icon" v-if="userRole == 1 || board.creator === userID"></i>
        </div>
        <div class="modal-btn-alternative" @click.stop v-else>
        </div>
        <div class="delete" @click.stop="remove(board._id)" v-if="userRole == 1 || board.creator === userID">
          <i class="far fa-trash-alt delete-icon"></i>
        </div>
        <div class="modal-btn-alternative" @click.stop v-else>
        </div>
      </board>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { useRouter } from 'vue-router'
import Board from '@/components/Board.vue'
import navbar from '@/components/navbar.vue'
import addModal from '@/components/addModal.vue'
import assign from '@/components/assign.vue'
import { setToken, setRefreshToken } from '@/models/auth'
import { userRole, userID, userName, users } from '@/models/user'
import { fetchBoards, boards, removeBoard, updateBoardName, updateBoardDesc, assignBoard } from '@/models/board'
export default defineComponent({
  components: {
    board: Board,
    'add-modal': addModal,
    'nav-bar': navbar,
    'assign-board': assign
  },

  setup() {
    const router = useRouter()
    const boardID = ref('')
    const nameValue = ref('')
    const descValue = ref('')
    const editNameMode = ref(false)
    const editDescMode = ref(false)
    const assignMode = ref(false)
    const dashboardMode = ref(false)
    const showListsOfBoard = (id: string) => {
      router.push(`/board/${id}`)
    }
    fetchBoards(userID.value, userRole.value)
    const updateName = (newName: string, desc: string, id: string) => {
      editNameMode.value = false
      updateBoardName(newName, desc, id, userID.value, userRole.value)
    }
    const updateDesc = (name: string, newDesc: string, id: string) => {
      editDescMode.value = false
      updateBoardDesc(name, newDesc, id, userID.value, userRole.value)
    }
    const remove = (id: string) => {
      boardID.value = id
      removeBoard(boardID.value, userID.value, userRole.value)
    }
    const changeEditNameMode = (id: string, name: string) => {
      boardID.value = id
      nameValue.value = name
      editDescMode.value = false
      editNameMode.value = true
    }
    const changeEditDescMode = (id: string, desc: string) => {
      boardID.value = id
      descValue.value = desc
      editNameMode.value = false
      editDescMode.value = true
    }
    const changeMode = () => {
      editNameMode.value = false
      editDescMode.value = false
      assignMode.value = false
      dashboardMode.value = false
    }
    const assignee = (id: string) => { // bad code
      assignMode.value = true
      assignBoard(id, boardID.value, userRole.value, nameValue.value, descValue.value)
    }
    const changeAssignMode = (name: string, desc: string, id: string) => {
      nameValue.value = name
      descValue.value = desc
      boardID.value = id
      assignMode.value = true
    }
    const logout = () => {
      router.push('/login')
      setToken('')
      setRefreshToken('')
    }
    const showMyTasks = () => {
      router.push('/myTasks')
    }
    const showMyUsers = () => {
      router.push('/members')
    }
    return {
      boards,
      boardID,
      remove,
      updateName,
      updateDesc,
      editNameMode,
      editDescMode,
      changeEditNameMode,
      changeEditDescMode,
      nameValue,
      descValue,
      showListsOfBoard,
      userRole,
      userID,
      changeMode,
      assignee,
      assignMode,
      dashboardMode,
      users,
      userName,
      changeAssignMode,
      logout,
      showMyTasks,
      showMyUsers
    }
  }
})
</script>

<style lang="scss" scoped>
.boards-page {
}

.header {
  width: 100%;
  min-width: 320px;
  height: 250px;
  background-color: #1059BC;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: sticky;
  top: -50px;
  box-shadow: 0 2px 5px #5a666478;
}

.header-text {
  margin: 110px 20px 0 100px;
  font-size: 40px;
  color: #ffffff;
}

.modal-btn {
  margin: 103px 0 0 0;
}

.modal-btn-alternative {
  margin: 123px 120px 0 0;
  color: transparent;
}

.search {
  margin: 225px auto;
  width: 80%;
  min-width: 280px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0px;
  right: 0px;
}

.search-input {
  width: 100%;
  max-width: 300px;
  min-width: 280px;
  height: 50px;
  border: 0;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 6px gray;
  padding: 10px;
}

.search-icon {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0 0 6px gray;
  padding: 14px;
  border: 0;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

.boards-list {
  margin-top: 80px;
}
add-modal {
  position: fixed;
  z-index: 2;
}

.assign-board {
  position: fixed;
  top: 80px;
  left: 1px;
  right: 1px;
  margin: auto;
  box-shadow: 0 0 500px #00060a50;
}

.btn-board {
  width: 42px;
  height: 42px;
  min-width: 42px;
  background-color: #f716fff2;
  color: #454d6ad6;
  border: 0;
  border-radius: 5px;
  font-size: 25px;
  padding: 3.5px 1.5px;
  box-shadow: inset 0 0 20px rgba(94, 94, 99, 0.479);
  cursor: pointer;
}

.assignee {
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  background-color: aquamarine;
  border-radius: 7px;
  margin: 0 5px;
  color:#454d6ad6;
  font-size: 25px;
  padding: 3px 8px;
  background-color: transparent;
}

.assignee-icon, .delete-icon {
  cursor: pointer;
}

.delete {
  min-width: 40px;
  max-width: 50px;
  height: 40px;
  background-color: aquamarine;
  border: 0;
  border-radius: 7px;
  color:#454d6ad6;
  font-size: 25px;
  padding: 3px 8px;
  background-color: transparent;
}

.input-name {
  border: 0;
  margin: 10px 8px 0 0;
  padding: 3px;
  border-radius: 5px;
  background-color: transparent;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  &:focus {
    border-radius: 2px;
    border-bottom: 2px solid rgb(82, 136, 190);
    background-color: rgba(90, 180, 253, 0.314);
  }
  &.is-edit {
    max-width: 160px;
  }
}

.input-desc {
  border: 0;
  font-size: 10px;
  margin: 0px 8px 13px 0;
  padding: 2px;
  color: rgb(87, 86, 86);
  border-radius: 5px;
  background-color: transparent;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  &:focus {
    border-radius: 2px;
    border-bottom: 2px solid rgb(82, 136, 190);
    background-color: rgba(90, 180, 253, 0.314);
  }
  &.is-edit {
    max-width: 200px;
  }
}

.card {
  max-width: 120px;
  min-width: 120px;
  height: 40px;
  background-color: rgb(145, 228, 228);
  border: 0;
  border-radius: 10px 0 10px 0;
  margin: 10px auto;
  text-align: center;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.dashboard {
  position: fixed;
  z-index: 3;
  top: 48px;
  left: 22px;
  min-width: 100px;
  max-width: 100px;
  height: auto;
  background-color: #ffe1e1;
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 5px 0;
}

.vertical-line {
  width: 100%;
  min-width: 100px;
  height: 1px;
  background-color: black;
}

.dashboard-item {
  margin: 15px 0;
  cursor: pointer;
}

.dashboard,
.dashboard-leave-active {
  transition: opacity .2s;
}

.dashboard-enter-from,
.dashboard-leave-to {
  opacity: 0;
  transform: translateZ(50px);
}
</style>
