<template>
<div class="boardList-page" @click="closeAddMenu()">
    <div class="background"></div>
    <div class="header">
      <button class="back-btn" @click="backToBoards()"><i class="fas fa-arrow-right"></i></button>
      <div class="header-icon"><i class="fas fa-chess-board" style="color: black;"></i></div>
      <div class="header-name">
        <div v-for="board in boards" :key="board._id">
          <div class="board-name"  v-if="board._id === boardID">{{ board.name }}</div>
          <div class="board-desc" v-if="board._id === boardID">{{ board.desc }}</div>
        </div>
      </div>
      <button class="header-search"><i class="fas fa-search"></i></button>
      <button class="header-option"><i class="fas fa-ellipsis-v"></i></button>
    </div>
    <div class="lists">
      <div class="wrapper">
        <list v-for="list in lists" :key="list._id" :title="list.title" class="element">
        <template v-slot:titleList>
          <form class="form-name" @submit.prevent>
            <input class="input-title" type="text" name="titleList" @click.stop="changeEditTitleMode(list._id, list.title)"  v-model="list.title" v-if="editTitleMode === false && list._id === listID">
            <input class="input-title" type="text" name="titleList" v-autofocus v-model="titleList" @click.stop @keyup.enter="updateTitle(titleList, list._id)" v-else-if="editTitleMode === true && listID === list._id" >
            <input class="input-title" type="text" name="titleList" @click.stop="changeEditTitleMode(list._id, list.title)" v-model="list.title" v-else>
          </form>
        </template>
        <template v-slot:delete>
          <div class="list-option" @click="deleteList(list._id)"><i class="far fa-trash-alt"></i></div>
        </template>
          <template v-slot:tasks>
            <div v-for="task in tasks" :key="task._id" >
              <task v-if="list._id === task.listFK" :name="task.name" :deadline="task.deadline" @click.stop="changeEditTaskMode(task._id, task.name, task.deadline)">
                <div class="delete" @click.stop="deleteTask(task._id)"><i class="far fa-trash-alt"></i></div>
                <task-detail class="modal" v-if="editTaskMode === true">
                  <template v-slot:taskDetail>
                    <form @submit.prevent>
                      <label for="taskName">نام :
                        <input class="input-edit-task" type="text" name="taskName" v-if="editTaskNameMode === false" @click.stop="editTaskNameMode = true" v-model="currentTaskName">
                        <input class="input-edit-task" type="text" name="taskName" v-autofocus v-else v-model="currentTaskName" @click.stop @keyup.enter.stop="editTaskName()">
                      </label>
                    </form>
                    <form @submit.prevent>
                    <label for="taskDeadline">مهلت اتمام : </label>
                      <input class="input-edit-task" type="text" name="taskDeadline" v-model="currentDeadline" v-if="editTaskDeadLineMode === false" @click.stop="editTaskDeadLineMode = true">
                      <input class="input-edit-task" type="text" name="taskDeadline" v-autofocus v-model="currentDeadline" @click.stop @keyup.enter.stop="editTaskDeadline()" v-else>
                    </form>
                    <hr>
                    <div class="assign-task-user">
                      <div class="card" v-for="user in users" :key="user._id" @click.stop="assignee(user._id)">
                        {{ user.username }}
                      </div>
                    </div>
                  </template>
                </task-detail>
              </task>
            </div>
          </template>
          <template v-slot:addForm>
            <transition appear name="createList" mode="out-in">
              <button class="add-task" type="button" v-if="(addTaskMode === false & list._id !== currentListID | (addTaskMode === true & list._id !== currentListID))" @click.stop="toggleTaskMode(list._id)">افزودن تسک</button>
              <form class="add-task-form" @submit.prevent v-else-if="addTaskMode === true && currentListID === list._id" @click.stop>
                <input v-model="nameTask" class="name-task input" type="text" v-autofocus placeholder="عنوان تسک">
                <input v-model="deadline" class="input" type="text" placeholder="مهلت اتمام">
                <div class="submit-btn">
                  <button class="ok" type="submit" @click="createTask(list._id)">
                    تایید
                  </button>
                  <button class="cancel" @click.stop="toggleTaskMode()">
                    لغو
                  </button>
                </div>
              </form>
            </transition>
          </template>
        </list>
        <div class="add element">
          <transition appear name="createList" mode="out-in">
            <div class="add-list" v-if="modeAddList === false" @click.stop="modeAddList = true">
              ایجاد لیست جدید
            </div>
            <form class="addForm" @submit.prevent @click.stop v-else-if="modeAddList === true">
              <input class="input" v-model="titleList" type="text" v-autofocus placeholder="عنوان لیست">
              <div class="submit-btn">
                <button class="ok" type="submit" @click.prevent="createList()">
                  تایید
                </button>
                <button class="cancel" @click.stop="modeAddList = false" >
                  لغو
                </button>
              </div>
            </form>
          </transition>
        </div>
      </div>
      <div class="end"></div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import List from '@/components/List.vue'
import Task from '@/components/Task.vue'
import taskDetail from '@/components/taskDetail.vue'
import { userID, userRole, users, fetchUsers } from '@/models/user'
import { boards, fetchBoards } from '@/models/board'
import { fetchLists, addList, lists, removeList, updateList } from '@/models/list'
import { fetchTasks, tasks, addTask, removeTask, updateTaskName, updateTaskDeadline, assignTask } from '@/models/task'
export default defineComponent({
  components: {
    list: List,
    task: Task,
    'task-detail': taskDetail,
  },

  setup() {
    const route = useRoute()
    const router = useRouter()
    const boardID = ref()
    const titleList = ref('')
    const nameTask = ref('')
    const deadline = ref('')
    const listID = ref('')
    const currentListID = ref('')
    const currentTaskID = ref('')
    const currentTaskName = ref('')
    const currentDeadline = ref('')
    const modeAddList = ref(false)
    const addTaskMode = ref(true)
    const editTitleMode = ref(false)
    const editTaskMode = ref(false)
    const editTaskNameMode = ref(false)
    const editTaskDeadLineMode = ref(false)
    const createList = () => {
      addList(titleList.value, boardID.value)
      titleList.value = ''
    }
    const deleteList = (id: string) => {
      listID.value = id
      removeList(id, boardID.value)
    }
    const createTask = (id: string) => {
      listID.value = id
      addTask(nameTask.value, deadline.value, listID.value)
      nameTask.value = ''
      deadline.value = ''
    }
    const deleteTask = (id: string) => {
      removeTask(id)
    }
    const backToBoards = () => {
      router.push('/')
    }
    const toggleTaskMode = (id: string) => {
      if (!addTaskMode.value) {
        currentListID.value = id
        addTaskMode.value = true
      } else {
        currentListID.value = ''
        addTaskMode.value = false
      }
    }
    const closeAddMenu = () => {
      modeAddList.value = false
      editTitleMode.value = false
      editTaskMode.value = false
      editTaskDeadLineMode.value = false
      editTaskNameMode.value = false
      if (addTaskMode.value) {
        toggleTaskMode('')
      }
    }
    const changeEditTitleMode = (id: string, title: string) => {
      listID.value = id
      titleList.value = title
      editTitleMode.value = true
    }
    const updateTitle = () => {
      updateList(titleList.value, listID.value, boardID.value)
      editTitleMode.value = false
      titleList.value = ''
    }
    const changeEditTaskMode = (id: string, name: string, deadLine: string) => {
      if (editTaskMode.value === false) {
        currentTaskID.value = id
        currentTaskName.value = name
        currentDeadline.value = deadLine
      }
      editTaskMode.value = true
      fetchUsers()
    }
    const editTaskName = () => {
      updateTaskName(currentTaskName.value, currentDeadline.value, currentTaskID.value)
      editTaskMode.value = false
    }
    const editTaskDeadline = () => {
      updateTaskDeadline(currentTaskName.value, currentDeadline.value, currentTaskID.value)
      editTaskMode.value = false
    }
    const assignee = (id: string) => {
      assignTask(id, currentTaskID.value)
    }
    boardID.value = route.params.boardID
    fetchBoards(userID.value, userRole.value)
    fetchLists(boardID.value)
    fetchTasks()
    return {
      boards,
      lists,
      tasks,
      boardID,
      titleList,
      nameTask,
      deadline,
      createList,
      deleteList,
      modeAddList,
      closeAddMenu,
      createTask,
      addTaskMode,
      backToBoards,
      currentListID,
      listID,
      toggleTaskMode,
      deleteTask,
      editTitleMode,
      changeEditTitleMode,
      updateTitle,
      editTaskMode,
      changeEditTaskMode,
      currentTaskID,
      editTaskNameMode,
      editTaskDeadLineMode,
      currentTaskName,
      currentDeadline,
      editTaskName,
      editTaskDeadline,
      users,
      assignee
    }
  }
})
</script>

<style lang="scss" scoped>
.boardList-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #FFFFFF;
}

.header {
  display: flex;
  margin: 70px 25px 25px;
  width: 90%;
  max-width: 350px;
  min-width: 280px;
}

.background {
  position: fixed;
  width: 100%;
  min-width: 350px;
  height: 250px;
  background-color: #FF6A9E;
  z-index: -1;
}

.back-btn {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
}

.header-icon {
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  border: 0;
  border-radius: 5px;
  margin: 10px;
  padding: 5px 8px;
  font-size: 24px;
}

.header-name {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.board-name {
  word-wrap: break-word;
  font-size: 20px;
  min-width: 100px;
  max-width: 168px;
  height: 30px;
  margin-top: 2px;
  overflow: hidden;
}

.board-desc {
  word-wrap: break-word;
  font-size: 12px;
  color: rgb(233, 233, 233);
  width: 100%;
  min-width: 100px;
  max-width: 168px;
  height: 22px;
  overflow: hidden;
  margin-top: 2px;
}

.header-search {
  margin: 10px 5px;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
}

.input-title {
  border: 0;
  margin: 2px 8px 0 0;
  border-radius: 5px;
  background-color: transparent;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  &:focus {
    border-radius: 0;
    border-bottom: 2px solid rgb(82, 136, 190);
  }
}

.header-option {
  margin: 10px 5px;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
}

.lists {
  display: flex;
  justify-content: start;
  overflow-x: scroll;
  position: relative;
  scroll-snap-type: x mandatory;
  padding: 5px 50px;
  max-width: 350px;
  min-width: 320px;
}

.wrapper {
  width: auto;
  display: flex;
  justify-content: center;
  margin: 0 100px;
}

.element {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  scroll-snap-align: center;
}

.add {
  position: relative;
  min-width: 250px;
  height: 300px;
  margin-right: 11px;
}

.add-list {
  position: absolute;
  background-color:#FF6A9E;
  border: 1px solid #ffffff;
  min-width: 250px;
  max-width: 250px;
  height: 50px;
  border-radius: 5px;
  margin-left: 30px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  &:hover {
    box-shadow: inset 0 0px 8px rgba(83, 71, 71, 0.3);
    border: 2px solid #c9c9c07e;
    background-color: transparent;
    padding-top: 9.5px;
  }
}

.add-task {
  min-width: 215px;
  max-width: 215px;
  background-color: transparent;
  border: 0;
  margin: 8px;
  text-align: start;
  padding: 8px 5px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: #f2f2f2;
  }
}

.add-task-form {
  margin: 12px auto;
  display: flex;
  flex-flow: column;
}

.assign-task-user {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-height: 215px;
  background: #f1fffe7e;
  overflow: auto;
  padding: 5px;
}

.input {
  border-radius: 5px;
  padding: 8px;
  background: #fff;
  border: none;
  box-shadow: inset 0 0 0 1px #0079bf;
  display: block;
}

.input-edit-task {
  border-radius: 5px;
  padding: 8px;
  background: transparent;
  border: none;
  margin: 5px 0;
  box-shadow: 0 0 1px #0079bf;
  display: block;
  &:focus {
    border: 1px solid #0079bf;
  }
}

.addForm {
  position: absolute;
  padding: 10px 20px;
  min-width: 250px;
  max-width: 250px;
  height: 100px;
  border: 0;
  border-radius: 6px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px #19398729;
}

.name-task {
  margin-bottom: 10px;
  &:focus {
    border: #010c13;
  }
}

.card {
  max-width: 110px;
  min-width: 110px;
  height: 40px;
  background-color: rgb(186, 243, 243);
  border: 0;
  border-radius: 10px 0 10px 0;
  margin: 10px auto;
  text-align: center;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.sumbit-btn {
  display: flex;
  flex-flow: column;
}

.ok {
  border: 0;
  border-radius: 4px;
  margin: 5px 0;
  background-color: #5aac44;
  cursor: pointer;
}

.cancel {
  border: 0;
  border-radius: 4px;
  background-color: transparent;
  margin: 5px 8px;
  cursor: pointer;
}

.createList-enter-active,
.createList-leave-active {
  transition: opacity .2s;
}

.createList-enter-from,
.createList-leave-to {
  opacity: 0;
  transform: translateZ(50px);
}

// .createLists-enter-active,
// .createLists-leave-active {
//   transition: opacity 5s;
// }

// .createLists-enter-from,
// .createLists-leave-to {
//   opacity: 0;
// }

.delete {
  min-width: 20px;
  max-width: 20px;
  height: 25px;
  background-color: aquamarine;
  border: 0;
  border-radius: 5px;
  color:#454d6aaa;
  font-size: 20px;
  padding: 0px 8px;
  background-color: transparent;
}

.end {
  min-width: 56px;
  height: 100px;
}

</style>
