<template>
  <div>
    <div class="background">
      <div class="back" @click="backToBoards()">back</div>
    </div>
    <div class="background-temp"></div>
    <div class="myTask-page">
      <div class="tasks" v-for="task in myTasks" :key="task">
        <div class="content-task" v-for="temp in task" :key="temp">
          <task :name="temp.name" :deadline="temp.deadline">
          </task>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { useRouter } from 'vue-router'
import task from '@/components/Task.vue'
import { fetchMyTasks, myTasks } from '@/models/task'
import { userID } from '@/models/user'
export default defineComponent({
  components: {
    task: task
  },
  setup() {
    const router = useRouter()
    const backToBoards = () => {
      router.push('/')
    }
    fetchMyTasks(userID.value)
    return {
      myTasks,
      userID,
      backToBoards
    }
  }
})
</script>

<style lang="scss" scoped>
.background {
  width: 100%;
  min-width: 320px;
  height: 250px;
  background-color: #fca606;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: sticky;
  top: -50px;
  box-shadow: 0 2px 5px #5a666478;
}

.back {
  position: fixed;
  z-index: 1;
  left: 10px;
  top: 20px;
  cursor: pointer;
}

.myTask-page {
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-width: 320px;
  margin: auto;
  background-color: rgba(8, 241, 0, 0.267);
  flex-grow: 1;
  overflow: auto;
}

.tasks {
  display: flex;
  justify-content: center;
  min-width: 320px;
  margin: 50px auto;
  background-color: transparent;
  flex-grow: 1;
}

</style>
