<template>
  <div class="users-page" @click="changeState()">
    <div class="header">
      <div class="add-user" @click.stop="isAddUser = true">افزودن عضو</div>
      <div class="back" @click.stop="backToBoards()"><i class="fas fa-arrow-right"></i></div>
    </div>
    <div class="title" >
      اعضا
    </div>
    <div class="users">
      <div class="user" v-for="user in users" :key="user._id">
        <div class="username">{{ user.username }}</div>
        <div class="role" @click.stop="changeEditRole(user._id)" v-if="user.role == 3">viewer</div>
        <div class="role" @click.stop="changeEditRole(user._id)" v-else-if="user.role == 2">creator</div>
        <div class="role" @click.stop="changeEditRole(user._id)" v-else-if="user.role == 1">admin</div>
        <div class="delete" @click="remove(user._id)"><i class="far fa-trash-alt delete-icon"></i></div>
      </div>
    </div>
    <div class="create" v-if="isAddUser" @click.stop>
      <form class="create-form" @submit.prevent>
        <input type="input" name="username" placeholder="نام کاربری" v-autofocus v-model="username" @click.stop>
        <input type="input" name="password" placeholder="رمز ورود" v-model="password" @click.stop>
        <div class="select-role">
          <div :class="{ 'is-select': isSelected }" class="admin edit-item" @click.stop="selectRole(1)">Admin</div>
          <div :class="{ 'is-select': isSelected }" class="creator edit-item" @click.stop="selectRole(2)">Creator</div>
          <div :class="{ 'is-select': isSelected }" class="viewer edit-item" @click.stop="selectRole(3)">Viewer</div>
          <div :class="{ 'is-selected': isSelected }" class="selected-role edit-item" @click.stop>{{ currentRole }}</div>
        </div>
        <div>
          <button class="yes-btn" type="button" :disabled="!isSelected" @click.stop="createUser()">تایید</button>
          <button class="no-btn" type="button" @click.stop="changeState()">لغو</button>
        </div>
      </form>
    </div>
    <div class="edit-role" @click.stop v-if="isEditRole">
      <div class="admin edit-item" @click.stop="updateRole(1)">Admin</div>
      <div class="creator edit-item" @click.stop="updateRole(2)">Creator</div>
      <div class="viewer edit-item" @click.stop="updateRole(3)">Viewer</div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { useRouter } from 'vue-router'
import { users, fetchUsers, addUser, editRole, removeUser } from '@/models/user'
export default defineComponent({
  setup() {
    const router = useRouter()
    const currentID = ref('')
    const currentRole = ref('')
    const username = ref('')
    const password = ref('')
    const isEditRole = ref(false)
    const isAddUser = ref(false)
    const isSelected = ref(false)
    fetchUsers()
    const remove = (id: string) => {
      if (!isEditRole.value && !isAddUser.value) {
        removeUser(id)
      }
    }
    const createUser = (role: string) => {
      if (!isEditRole.value) {
        addUser(username.value, password.value, currentRole.value)
        username.value = ''
        password.value = ''
        isEditRole.value = false
        isAddUser.value = false
        isSelected.value = false
      }
    }
    const updateRole = (role: string) => {
      editRole(currentID.value, role)
      isEditRole.value = false
    }
    const backToBoards = () => {
      if (!isEditRole.value) {
        router.push('/')
      }
    }
    const changeEditRole = (id: string) => {
      currentID.value = id
      isEditRole.value = true
    }
    const selectRole = (role: string) => {
      currentRole.value = role
      isSelected.value = true
    }
    const changeState = () => {
      isEditRole.value = false
      isAddUser.value = false
      isSelected.value = false
    }
    return {
      users,
      remove,
      updateRole,
      createUser,
      backToBoards,
      isEditRole,
      changeEditRole,
      isAddUser,
      currentRole,
      isSelected,
      selectRole,
      username,
      password,
      changeState
    }
  }
})
</script>

<style lang="scss" scoped>
input {
  padding: 11px;
  border: 0;
  border-radius: 5px;
  margin: 8px;
}

.header {
  width: 100%;
  height: 250px;
  top: 0;
  position: sticky;
  margin: auto;
  display: flex;
  justify-content: space-around;
  background-color: rgb(250, 143, 101);
  padding: 90px 50px;
}

.users-page {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: rgb(221, 235, 248);
}

.add-user {
  font-size: 20px;
  margin: -5px -10px 0 0;
  cursor: pointer;
  color: gray;
}

.title {
  margin: 50px auto -30px auto;
  text-align: center;
  padding: 10px;
  background-color: rgb(252, 252, 197);
  width: 80px;
  border-radius: 10px;
  text-shadow: 2px gray;
}

.users {
  margin: 20px auto;
}

.user {
  min-width: 300px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  background-color: antiquewhite;
  border: 0;
  padding: 25px;
  border-radius: 10px;
}

.role {
  cursor: pointer;
}

.delete {
  cursor: pointer;
  color: gray;
}

.back {
  cursor: pointer;
  color: gray;
}

.edit-role {
  width: 150px;
  height: 200px;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: fixed;
  right: 1px;
  left: 1px;
  top: 120px;
  margin: auto;
  background-color: aliceblue;
  box-shadow: 0 0 50px rgba(128, 128, 128, 0.589);
  border-radius: 10px;
  padding: 20px;
}

.edit-item {
  margin: 13px;
  cursor: pointer;
  background-color: rgb(210, 232, 252);
  padding: 2px 25px;
  &.is-select {
    display: none;
  }
}

.selected-role {
    display: none;
  &.is-selected {
    display: block;
    margin: 56px 13px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(210, 232, 252);
    padding: 15px 45px;
  }
}

.create-form {
  width: 270px;
  height: 385px;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: fixed;
  right: 1px;
  left: 1px;
  top: 120px;
  margin: auto;
  background-color: aliceblue;
  box-shadow: 0 0 50px rgba(128, 128, 128, 0.589);
  border-radius: 10px;
  padding: 20px;
}

.select-role {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.yes-btn {
  border: 0;
  border-radius: 5px;
  padding: 7px 15px;
  margin: 8px 10px;
}

.no-btn {
  border: 0;
  border-radius: 5px;
  padding: 7px 15px;
  margin: 8px 15px 0 0;
}
</style>
