@import "./font";

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: samim;
  min-height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input, button, textarea {
  font: inherit;
}