<template>
  <section class="wrp">
    <span class="modal-trigger"><a href="#modal-example" class="bt" aria-role="button">+</a></span>
    <div class="wf-modal" aria-hidden="true" id="modal-example">
      <article class="wf-dialog-modal">
        <div class="wf-content-modal">
          <form class="form-group">
            <div class="name">
              <input v-model="name" type="text" placeholder="عنوان بورد">
            </div>
            <div class="description">
              <input v-model="desc" placeholder="توضیحات" type="text">
            </div>
          </form>
        </div>
        <footer class="wf-footer-modal">
          <span class="ok"><a href="#" class="btn-create" aria-hidden="true" @click="add()">تایید</a></span>
          <span class="close"><a href="#" class="btn-close" aria-hidden="true">لغو</a></span>
        </footer>
      </article>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue'
import { userID, userRole } from '@/models/user'
import { fetchBoards, addBoard } from '@/models/board'
export default defineComponent({

  setup() {
    const name = ref('')
    const desc = ref('')
    const add = () => {
      addBoard(name.value, desc.value, userID.value, userRole.value)
      name.value = ''
      desc.value = ''
    }
    fetchBoards(userID.value, userRole.value)
    return {
      name,
      desc,
      add
    }
  }
})
</script>

<style lang="scss" scoped>
.wrp {
  width:100px;
  text-align:center;
}

.bt {
  cursor:pointer;
  background:rgb(137, 149, 160);
  text-align:center;
  color: #fefeff;
  display:inline-block;
  text-decoration: none;
  border: 0;
  font-size: 50px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 5px;
  background-color: transparent;
  &:hover {
    text-shadow: 1px 1px 3px rgb(241, 233, 233);
  }
}

.wf-modal {
  .tit {
    font-size: 20px;
    margin:0;
  }
  .close .bt {
      display: inline-block;
      margin-top: 20px;
      padding-top: 0;
      height: 50px;
      width: 100%;
      min-width: 100px;
      max-width: 100px;
      border-radius: 5px;
      background-color: #868686;
      text-decoration: none;
      color: #131212;
      border: 0;
      cursor: pointer;
    &:before {
      content: "";
    }
  }
  &:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    margin: auto;
    border: 0;
  }
  &:target:before {
    display: block;
  }
  &:target {
    .wf-dialog-modal {
      -webkit-transform: translate(50%, 10%);
      -moz-transform: translate(50%, 10%);
      transform: translate(50%, 10%);
      top: 5%;
      background-color: transparent;
      border: 0;
    }
  }
}
.wf-dialog-modal {
  background: #fefefe;
  border: 0;
  border-radius: 5px;
  margin: auto;
  position: fixed;
  left: 50%;
  right: 50%;
  top: 100%;
  z-index: 11;
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  height: 550px;

  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);
  transform: translate(50%, 50%);

  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.wf-footer-modal {
  padding:10px;
}
.wf-header-modal {
  border-bottom: 0;
}
.wf-footer-modal {
  border-top: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.wf-content-modal {
  width: 100%;
  min-width: 250px;
  max-width: 320px;
  background-color: #4b94bf;
  height: 200px;
  margin: auto;
  border-radius: 5px;
}

input {
  border: 0;
  height: 48px;
  width: 250px;
  margin: 25px 0 1px 0;
  padding: 15px;
  border-radius: 8px;
  background-color: #bdf6ff;
}

.form-group {
  display: flex;
  flex-flow: column;
}

.name, .description {
  margin: 2px auto;
  text-align: right;
  border: 0;
  border-radius: 10px;
  padding: 1px 10px;
}

.btn-create {
  display: inline-block;
  margin-top: 20px;
  padding-top: 10px;
  height: 50px;
  width: 100%;
  min-width: 100px;
  max-width: 100px;
  border-radius: 5px;
  background-color: #4b94bf;
  text-decoration: none;
  color: #F2F2F2;
  border: 0;
}

.btn-close {
    display: inline-block;
  margin-top: 20px;
  padding-top: 10px;
  height: 50px;
  width: 100%;
  min-width: 100px;
  max-width: 100px;
  border-radius: 5px;
  background-color: #bdf6ff;
  text-decoration: none;
  color: #464646;
  border: 0;
}

</style>
