<template>
  <!-- <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/login">لاگین</router-link>
  </div> -->
  <div class="nav">
    <div class="icon">فراوین</div>
    <div class="profile">
      <slot></slot>
    </div>
  </div>
  <router-view />
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { userName } from '@/models/user'
export default defineComponent({
  setup() {
    return {
      userName
    }
  }
})
</script>

<style lang="scss">
.nav {
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background: #bdf6ff;
  z-index: 2;
  border: 0;
  padding: 6px 10px;
  box-shadow: 0 2px 5px rgb(11, 65, 128);
}

.profile {
  display: flex;
  justify-content: flex-start;
  color: #1f1e1e;
  cursor: pointer;
  overflow: hidden;
  padding: 10px;
  font-size: 14px;
}

.username {
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: -1px 7px 0px 0;
}

.icon {
  font-size: 24px;
  color: #1f1e1e;
  margin: -2px 10px 0 0;

}

</style>
