<template>
  <div class="task">
    <div class="name">{{ name }}</div>
    <div class="dedline">{{ deadline }}</div>
    <slot></slot>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  props: ['name', 'deadline']
})
</script>

<style lang="scss" scoped>
.task {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-width: 200px;
  max-width: 220px;
  height: 65px;
  background-color: #2EB2DB;
  margin: 10px auto;
  border: 0;
  border-radius: 5px;
  padding: 18px 15px;
  &:hover {
    box-shadow: 0 5px 10px #657777bb;
  }
}

.name {
  flex-grow: 1;
  padding: 0 1px;
  max-width: 100px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dedline {
  text-align: center;
  font-size: 13px;
  min-width: 75px;
  max-width: 85px;
  height: 27px;
  padding: 4px 3px;
  background-color: cadetblue;
  border: 0;
  border-radius: 5px;
  word-wrap: break-word;
  overflow: hidden;
  box-shadow: 0 1px 2px gray;
}
</style>
