<template>
  <div class="modal">
    <div class="modal-header">
      کاربران
    </div>
    <div class="vertical-line">
    </div>
    <div class="users">
      <slot></slot>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { fetchUsers } from '@/models/user'
export default defineComponent({
  setup() {
    fetchUsers()
    return {
    }
  }
})
</script>

<style lang="scss" scoped>
.modal {
  min-width: 300px;
  max-width: 300px;
  height: 500px;
  background-color: rgb(208, 224, 191);
  border: 0;
  border-radius: 6px;
  display: flex;
  flex-flow: column;
  justify-content: start;
  overflow: auto;
}

.modal-header {
  margin: 10px auto;
  max-height: 50px;
}

.vertical-line {
  width: 100%;
  min-width: 250px;
  height: 2px;
  background-color: black;
}

.users {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

</style>
