<template>
<div class="board-template">
  <div class="board">
    <slot name="button"></slot>
    <div class="text-board">
      <slot name="nameBoard"></slot>
      <slot name="descBoard"></slot>
    </div>
    <slot></slot>
  </div>
</div>
</template>

<script lang="ts">
import {
  defineComponent, ref
} from 'vue'
export default defineComponent({
  props: ['name', 'desc'],
  // setup() {
  //   const newName = ref('')
  //   const newDesc = ref('')
  //   const mode = ref('noEdit')// mode --> noEdit | editName | editDesc
  //   const editName = () => {
  //     mode.value = 'editName'
  //   }
  //   const editDesc = () => {
  //     mode.value = 'editDesc'
  //   }
  //   const noEdit = () => {
  //     mode.value = 'noEdit'
  //   }
  //   return {
  //     mode,
  //     editName,
  //     editDesc,
  //     noEdit,
  //     newName,
  //     newDesc
  //   }
  // }
})
</script>

<style lang="scss" scoped>
.board-template {
  display: inline;
}

.board {
  width: 80%;
  min-width: 300px;
  max-width: 350px;
  height: 75px;
  background-color: rgba(90, 180, 253, 0.514);
  border: 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin: 30px auto;
  box-shadow: 0 0 5px rgb(178, 201, 201);
}

</style>
