<template>
<transition appear name="list-fade">
  <div class="list">
    <div class="header-list">
      <slot name="titleList"></slot>
      <slot name="delete"></slot>
    </div>
    <div class="list-of-tasks">
      <slot name="tasks"></slot>
    </div>
    <slot name="addForm"></slot>
  </div>
</transition>
</template>

<script>
import { defineComponent } from 'vue'
export default defineComponent({
  props: ['title'],
})
</script>

<style lang="scss" scoped>
.list {
  display: flex;
  flex-flow: column;
  padding: 7px;
  min-width: 260px;
  max-width: 260px;
  height: 100%;
  min-height: 420px;
  max-height: 420px;
  margin: 0 25px;
  border: 0;
  border-radius: 12px;
  background-color: #FFFFFF;
  color: #1f1e1e;
  margin-bottom: 25px;
  box-shadow: 0 0 5px #ad9c9c54;

}

.header-list {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
  height: 50px;
  width: 98%;
  box-shadow: 0 4px 3px -3px rgb(211, 202, 202);
}

.list-name {
  flex-grow: 1;
  word-wrap: break-word;
  overflow: hidden;
}

.list-option {
}

.add-task {
  width: 100%;
  min-width: 200px;
  max-width: 220px;
  height: 50px;
  background-color: transparent;
  margin: 10px auto;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  padding: 12px 15px;
  text-align: center;
  cursor: pointer;
  &:hover {
    box-shadow: inset 0 0px 5px rgba(73, 60, 60, 0.35);
    background-color: transparent;
    border: 2px solid #F2F2F2;
    padding-top: 12px;
  }
}

.list-of-tasks {
  overflow-y: scroll;
}

.list-fade-enter-active, .list-fade-leave-active {
  transition: opacity .4s;
}

.list-fade-enter-from, .list-fade-leave-to {
  opacity: 0;
}

</style>
