<template>
  <div class="content-detail">
    <div class="task-detail">
      <slot name="taskDetail"></slot>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
export default defineComponent({
})
</script>

<style lang="scss" scoped>
.detail {
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 1px;
  right: 1px;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  border: 0;
  border-radius: 6px;
  display: flex;
  flex-flow: column;
  justify-content: start;
  overflow: auto;
}

.content-detail {
  background-color: #fefefe;
  position: fixed;
  z-index: 2;
  top: 140px;
  left: 1px;
  right: 1px;
  margin: auto;
  padding: 20px;
  border: 0;
  border-radius: 10px;
  width: 300px;
  height: 440px;
  box-shadow: 0 0 10px #10130311;
}

.task-detail {
  position: relative;
}
</style>
